@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#fastaddons-widget {
  list-style-image: url(chrome://mozapps/skin/extensions/extensionGeneric-16.png);
}
#fastaddons-widget[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] #fastaddons-widget {
  list-style-image: url(chrome://mozapps/skin/extensions/extensionGeneric.png);
}

@media (min-resolution: 2dppx) {
  #fastaddons-widget {
    list-style-image: url(chrome://mozapps/skin/extensions/extensionGeneric.png);
  }
}

#fastaddons-view toolbarbutton image {
  max-height: 16px;
}
#fastaddons-view-items > label {
  display: -moz-box !important;
  margin-top: 2px;
  margin-bottom: 2px;
  height: auto;
  min-height: auto;
  max-height: auto;
}
#fastaddons-view toolbarbutton:not(.active) {
  opacity: 0.75;
}
#fastaddons-view toolbarbutton:not(.active) image {
  filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
}
